@font-face {
    font-family: 'archivo';
    src: url('police/archivo-regular.eot');
    src: url('police/archivo-regular.woff2') format('woff2'),
         url('police/archivo-regular.woff') format('woff'); 
    font-weight: normal;
}
@font-face{
    font-family: 'devonshire';
    src:url('police/devonshire-regular.ttf')format('truetype');  
}

@font-face{
    font-family: 'itim';
    src:url('police/itim-regular.ttf')format('truetype'); 
    src:url('police/Itim-Regular.otf');
}
@font-face{
    font-family: 'croissant';
    src:url('police/croissantone-regular.ttf')format('truetype');  
}

@font-face{
    font-family: 'abril';
    src:url('police/abrilfatface-regular.ttf')format('truetype');  
}

@font-face{
    font-family: 'dancing';
    src:url('police/dancingscript-regular.ttf')format('truetype');  
}

@font-face{
    font-family: 'caveate';
    src:url('police/caveat-regular.ttf')format('truetype');  
}

@font-face{
    font-family: 'kaushan';
    src:url('police/kaushanscript-regular.ttf')format('truetype');  
}


@font-face{
    font-family: 'roboto';
    src:url('police/robotocondensed-regular.ttf')format('truetype');  
}

/* ACCUEIL */
body{
    display: block;
    text-align: center;
    margin: auto;
}

a{
    text-decoration: none;
    color: #f0c849;
}

.ohmyfood{
    font-size: 3.5em;
    background-color: #579c87;
    color: #f0c849;
    border-bottom: #66BB6A solid 1px;
    font-family: 'archivo';
    font-weight: bold;
    padding: 0.2em;
    letter-spacing: -0.1rem;
}

.oh{
    letter-spacing: -0.2rem;
}

.restaurant{
    margin:1.5em;
    box-shadow: 0 0 13px 5px #BDBDBD;
}

article{
    display: flex;
    flex-direction: column;
}


.note{
    display: flex;
    flex-direction: column;
    background-color: #fcdfdb;
    justify-content: center;
    align-items: center;
}

.titre-note{
    font-family: 'devonshire';
    font-size: 1.8em;
    display: flex;
    flex-direction: column;
    color: #3d1319;
}

.imagenote{
    width: max-content;
    margin: auto;
}

.h2-note{
    color: #3d1319;
    font-family: 'itim';
    font-style: italic;
}

.chic{
    display: flex;
    flex-direction: column;
    background-color: #fff5fe;
    height: 11em;
    justify-content: center;
    align-items: center;
}

.titre-chic{
    font-family: 'croissant';
    background: linear-gradient(45deg, #cc8027 20%, #915cfa 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.3em;
}

.h2-chic{
    font-family: 'abril';
    color: #cc8027;
}

.delice{
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    height: 11em;
    justify-content: center;
    align-items: center;
}

.titre-delice{
    font-family: 'dancing';
    background: linear-gradient(25deg, 	#4056e3 20%, #64aff9 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1.5em;
}

.h2-delice{
    font-family: 'caveate';
    color: #64aff9;
}

.palette{
    display: flex;
    flex-direction: column;
    background-color: #fdfffd;
    justify-content: center;
    align-items: center;
    height: 11em;
}
.titre-palette{
    font-family: 'kaushan';
    background: linear-gradient(45deg, 	#95c78e 20%,#d0f9aa 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.6em;
}
.h2-palette{
    font-family: 'caveate';
    color: #71be56;
}
.soon{
    font-family: 'roboto';
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
}

h4{
    background-color: #579c87;
    color:#f0c849;
    border-radius: 10px;
    width: 60%;
    padding: 0.7em;
}

footer{
    font-family: 'roboto';
    font-size: 1.1em;
    background-color:#579c87 ;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding:0.5em;
    position: fixed;
    bottom: 0;
    color: #f0c849;
    width: 100%;
}

/* PAGE MENU */

.mainmenu{
    text-align: center;
    font-size: 1.2em;
}

.h2menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.trait{
    overflow: hidden;
    padding: 0.5em;
}
.prix{
    font-weight: bold;
}

/* NOTE */
.mainnote{
    background-color: #fcdfdb;
    font-family: 'caveate';
    color: #3d1319;
    margin-bottom: 2em;
}

.titreclassique{
    font-family: 'archivo';
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 1em;
}
.imagenote{
    width: max-content;
    margin:auto;
}

.lanotefin{
    display: flex;
    font-family: 'devonshire';
    font-weight: bold;
    width: max-content;
    font-size: 1.5em;
    margin:auto;
}

/* CHIC */
.mainchic{
    background-color: #fff5fe;
    font-family: 'lora';
}
.entreechic{
    color:#cc8027;
}

.principalchic{
    color:#ab70a0;
}

.dessertchic{
    color: #6e4ccc;
}

/* DELICE */
.maindelice{
    background-color:#f9f9f9 ;
    font-family: 'caveate';
}

/* DELICE */
.mainpalette{
    background-color: #fdfffd;
    font-family: 'caveate';
}


@media screen and (min-width:600px) {
/* ACCUEIL */
    article{
        display: flex;
        height: 43em;
    }

    .notechic{
        display: flex;
        margin: auto;
        width: 80%;
        justify-content: center;
        height: 40%;
    }

    .delicepalette{
        display: flex;
        justify-content: center;
        margin: auto;
        width: 80%;
        height: 40%;
    }

    .restaurant{
        width: 40%;
        height: 100%;
    }

    h4{
        width: max-content;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 1.3em;
    }

/* PAGE MENU */
    .mainmenu{
        display: flex;
        flex-direction: column;
        margin:6em;
        margin-top: 2em;
        padding-right: 3em;
        padding-left: 3em;
    }


}


@media screen and (min-width:790px){
/* ACCUEIL */
    .restaurant{
        width: 35%;
        height: 120%;
    }
    .soon{
        margin-top: 2em;
    }
/* PAGE MENU */
}

@media screen and (min-width:1050px){
/* ACCUEIL */
    .restaurant{
        width: 30%;
        height: 120%;
    }
/* PAGE MENU */
    .plat{
        text-align: left;
        width: 95%;
    }

    .prix{
        text-align: right;
    }

    .repas{
        display: flex;
        flex-wrap: wrap;
    }
    h2{
        font-weight: lighter;
        width: 100%;
        white-space: nowrap;
    }

    .trait{
        width: 100%;
    }
}

@media screen and (min-width:1400px){  
/* ACCUEIL */
    body{
        max-width: none;
        width: 80%;
        font-size: 1.7em;
    }
    .notechic{
        margin-bottom: 5em;
    }
    .soon{
        margin-top: 4em;
    }
    footer{
        max-width: none;
        width: 80%;
    }
    .oh{
        letter-spacing: -0.55rem;
    }
/* PAGE MENU */
    .repas{
        padding-left:7em ;
        padding-right: 7em;
    }
}

