@font-face{
    font-family: 'croissant';
    src:url('police/croissantone-regular.ttf')format('truetype');  
}

@font-face {
    font-family: 'archivo';
    src: url('police/archivo-regular.eot');
    src: url('police/archivo-regular.woff2') format('woff2'),
         url('police/archivo-regular.woff') format('woff'); 
    font-size: normal;
    font-weight: normal;
}

@font-face{
    font-family: 'roboto';
    src:url('police/robotocondensed-regular.ttf')format('truetype');  
}

@font-face{
    font-family: 'lora';
    src:url('police/lora-regular.ttf')format('truetype');  
}

body{
    margin:auto;
}

main{
    background-color: #fff5fe;
    font-family: 'lora';
    margin-bottom: 5em;
    text-align: center;
}

a{
    text-decoration: none;
    color: #f0c849;
}

.ohmyfood{
    font-size: 4.5em;
    background-color: #579c87;
    color: #f0c849;
    border-bottom: #66BB6A solid 1px;
    font-family: 'archivo';
    font-weight: bold;
    letter-spacing: -0.1rem;
    margin-bottom: 0;
    text-align: center;
}

.oh{
    letter-spacing: -0.35rem;
}



h1{
    font-family: 'croissant';
    background: linear-gradient(45deg, #cc8027 20%, #915cfa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
    padding-top: 1em;
    font-size: 1.9em;
}

h2{
    font-size:1.3em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trait{
    overflow: hidden;
    padding: 0.5em;
}

.entree{
    color:#cc8027;
}

.principal{
    color:#ab70a0;
}

.dessert{
    color: #6e4ccc;
}

.prix{
    font-weight: bold;
}

footer{
    font-family: 'roboto';
    font-size: 1.1em;
    background-color:#579c87 ;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding:0.5em;
    position: fixed;
    bottom: 0;
    color: #f0c849;
    width: 100%;
    max-width: 1400px;
}

@media screen and (min-width:600px) {
    body{
        display: flex;
        flex-direction: column;
        max-width: 1400px;
    }

    main{
        display: flex;
        flex-direction: column;
        margin:6em;
        margin-top: 2em;
        padding-right: 3em;
        padding-left: 3em;
    }

    h1{
        font-size: 2.2em;
    }
    .trait{
        width: 65%;
     }
}

@media screen and (min-width:1050px){
    h2{
        white-space: nowrap;
        width: 100%;
    }
    .repas{
        display: flex;
        flex-wrap: wrap;
    }

    .plat{
        text-align: left;
        width: 95%;
    }

    .prix{
        text-align: right;
        font-weight: lighter;
    }
}

@media screen and (min-width:1400px){  
    body{
        max-width: none;
    }
    footer{
        max-width: none;
    }
    .repas{
        padding-left:7em ;
        padding-right: 7em;
    }
}