@font-face {
    font-family: 'archivo';
    src: url('police/archivo-regular.eot');
    src: url('police/archivo-regular.woff2') format('woff2'),
         url('police/archivo-regular.woff') format('woff'); 
    font-size: normal;
    font-weight: normal;
}

@font-face{
    font-family: 'roboto';
    src:url('police/robotocondensed-regular.ttf')format('truetype');  
}

@font-face{
    font-family: 'devonshire';
    src:url('police/devonshire-regular.ttf')format('truetype');  
}

@font-face{
    font-family: 'caveate';
    src:url('police/caveat-regular.ttf')format('truetype');  
}

main{
    background-color: #fcdfdb;
    margin-bottom: 2.5em;
    font-family: 'caveate';
    font-size: 1.2em;
    color: #3d1319;
    text-align: center;
}

a{
    text-decoration: none;
    color: #f0c849;
}

.ohmyfood{
    font-size: 4.5em;
    background-color: #579c87;
    color: #f0c849;
    border-bottom: #66BB6A solid 1px;
    font-family: 'archivo';
    font-weight: bold;
    letter-spacing: -0.1rem;
    margin-bottom: 0;
}

.oh{
    letter-spacing: -0.35rem;
}


.lanoteclassique{
    display: none;
}

.imagenote{
    width: max-content;
    margin:auto;
}

h1{
    font-family: 'devonshire';
    font-size: 1.8em;
    color: #3d1319;
    display: flex;
    flex-direction: column;
    margin:auto;
    padding-top: 1em;
    text-align: center;
}

.prix{
    font-weight: bold;
}

.lanotefin{
    display: flex;
    font-family: 'devonshire';
    font-weight: bold;
    width: max-content;
    font-size: 1.5em;
    margin:auto;
}
footer{
    font-family: 'roboto';
    font-size: 1.1em;
    background-color:#579c87 ;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding-right: 1em;
    padding-left: 0.3em;
    position: fixed;
    bottom: 0;
    color: #f0c849;
    width: 100%;
}

@media screen and (min-width:600px) {
    body{
        display: flex;
        flex-direction: column;
    }

    .ohmyfood{
        text-align: center;
    }

    .lanoteclassique{
        display: flex;
        justify-content: center;
        font-family: 'roboto';
        font-weight: bold;
       font-size: 2em;
       margin-top: 2em;
    }

    main{
        display: flex;
        flex-direction: column;
        margin:6em;
        margin-top: 2em;
        padding: 1.5em;
    }

    h1{
        font-size: 2.5em;
    }

    .repas{
        display: flex;
        flex-direction: column;
    }

    .entree{
        text-align: left;
    }

    .prix{
        text-align: right;
    }