@font-face {
    font-family: 'archivo';
    src: url('police/archivo-regular.eot');
    src: url('police/archivo-regular.woff2') format('woff2'),
         url('police/archivo-regular.woff') format('woff'); 
    font-size: normal;
    font-weight: normal;
}

@font-face{
    font-family: 'roboto';
    src:url('police/robotocondensed-regular.ttf')format('truetype');  
}

@font-face{
    font-family: 'kaushan';
    src:url('police/kaushanscript-regular.ttf')format('truetype');  
}

@font-face{
    font-family: 'caveate';
    src:url('police/caveat-regular.ttf')format('truetype');  
}

body{
    margin:auto;
}

main{
    background-color: #fdfffd;
    font-family: 'caveate';
    margin-bottom: 3em;
    text-align: center;
    font-size: 1.2em;
}

a{
    text-decoration: none;
    color: #f0c849;
}

.ohmyfood{
    font-size: 4.5em;
    background-color: #579c87;
    color: #f0c849;
    border-bottom: #66BB6A solid 1px;
    font-family: 'archivo';
    font-weight: bold;
    letter-spacing: -0.1rem;
    margin-bottom: 0;
    text-align: center;
}

.oh{
    letter-spacing: -0.35rem;
}

h1{
    font-family: 'kaushan';
    background: linear-gradient(45deg, 	#95c78e 0%,#d0f9aa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
    padding-top: 1em;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.trait{
    overflow: hidden;
    padding: 0.5em;
}


footer{
    font-family: 'roboto';
    font-size: 1.1em;
    background-color:#579c87 ;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding:0.5em;
    position: fixed;
    bottom: 0;
    color: #f0c849;
    width: 100%;
    max-width: 1400px;
}

@media screen and (min-width:600px) {
    body{
        display: flex;
        flex-direction: column;
        max-width: 1400px;
    }

    main{
        display: flex;
        flex-direction: column;
        margin:6em;
        margin-top: 2em;
        padding-right: 3em;
        padding-left: 3em;
    }
}

@media screen and (min-width:1050px){
    .plat{
        text-align: left;
        width: 95%;
    }

    .prix{
        text-align: right;
    }

    .repas{
        display: flex;
        flex-wrap: wrap;
    }
    h2{
        font-weight: lighter;
        width: 100%;
        white-space: nowrap;
    }

    .trait{
        overflow: none;
        width: 100%;
    }
}

@media screen and (min-width:1400px){  
    body{
        max-width: none;
    }
    footer{
        max-width: none;
    }
    .repas{
        padding-left:7em ;
        padding-right: 7em;
    }
}